.host {
    padding: 3em;
    max-width: 850px;
    margin: auto;
}

#bannerImg {
    max-width: 703px;
    background-image: url(../images/Banner-703@1x.jpg);
    width: 703px;
    height: 229px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    #bannerImg {
        max-width: 703px;
        background-image: url(../images/Banner-703@2x.jpg);
        background-size: contain;
        width: 703px;
        height: 229px;
    }
}

.compact {
    margin: 0;
}

.subtle {
    font-weight: normal;
}

.section {
    width: 100%;
    text-align: center;
    background-color: var(--paper-brown-100);
    padding-top: .2em;
    padding-bottom: .2em;
    color: var(--paper-grey-800);
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: .3em;
}

th {
    background-color: var(--paper-blue-100);
}

td {
    background-color: var(--paper-brown-50);
}
