<dom-module id="sci-about">
    <link rel="import" href="../bower_components/polymer/polymer.html">
    <link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

    <link rel="import" type="css" href="../css/sci-scripture.css">

    <style is="custom-style" include="iron-flex iron-flex-alignment">
    </style>

    <template>
        <div class="host layout vertical">
            <p>Scripture chapter goes here.</p>
        </div>
    </template>

    <script>
        Polymer({ is: "sci-about" });
    </script>
</dom-module>
