<dom-module id="sci-app">
    <link rel="import" href="../bower_components/polymer/polymer.html">
    <link rel="import" href="../bower_components/paper-drawer-panel/paper-drawer-panel.html">
    <link rel="import" href="../bower_components/paper-header-panel/paper-header-panel.html">
    <link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
    <link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
    <link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
    <link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

    <link rel="import" href="sci-main-content.html">
    <link rel="import" href="sci-drawer-pages.html">

    <link rel="import" type="css" href="../css/sci-app.css">

    <style is="custom-style" include="iron-flex iron-flex-alignment">
    </style>

    <template>
        <paper-drawer-panel class="flex" drawer-width="380px">
            <paper-header-panel drawer class="drawerback">
                <paper-toolbar class="drawer-head medium-tall">
                    <div class="flex">LDS Scripture Citation Index</div>
                    <paper-tabs selected="{{uiState.selectedDrawerTab}}" class="bottom self-end" on-tap="tabSelected">
                        <paper-tab>SCRIPTURES</paper-tab>
                        <paper-tab>INDEX</paper-tab>
                        <paper-tab>CONTENTS</paper-tab>
                        <paper-tab>SPEAKERS</paper-tab>
                    </paper-tabs>
                </paper-toolbar>
                <sci-drawer-pages ui-state="{{uiState}}" class="flex"></sci-drawer-pages>
            </paper-header-panel>

            <paper-header-panel main>
                <paper-toolbar class="medium-tall">
                    <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
                    <div class="flex" id="site-title">About the LDS Scripture Citation Index</div>
                    <paper-icon-button icon="search"></paper-icon-button>
                    <div class="bottom" id="main-crumb"></div>
                </paper-toolbar>
                <sci-main-content ui-state="{{uiState}}"></sci-main-content>
            </paper-header-panel>
        </paper-drawer-panel>
    </template>
    <script>
        Polymer({
            is: 'sci-app',

            properties: {
                previousSelected: {
                    type: String,
                    value: 'SCRIPTURES'
                },

                /*
                 * UI state parameters object looks like this:
                 *
                 * {
                 *  citation: { bookId, chapter },
                 *  content: { selectedCategory, selectedId },
                 *  filter: { corpus, endYear, groupBy, sortBy, speakerId, startYear },
                 *  scripture: { bookId, chapter, isJst, verses },
                 *  selectedDrawerTab,
                 *  selectedMainTab,
                 *  speaker: { letter, speakerId },
                 *  talk: { talkId, highlight, targetCitationId }
                 * }
                 */
                uiState: {
                    type: Object,
                    value: {
                        selectedDrawerTab: 0,
                        selectedMainTab: 0
                    },
                    notify: true
                }
            },

            same: function (object1, object2, properties) {
                if (typeof object1 !== typeof object2) {
                    return false;
                }

                if (object1 === object2) {
                    return true;
                }

                for (p in properties) {
                    if (typeof object1[p] !== typeof object2[p] || object1[p] !== object2[p]) {
                        return false;
                    }
                }

                return true;
            },

            navigateUi: function (parameters) {
                var self = this;

                self.uiState.selectedDrawerTab = parameters.selectedDrawerTab;
                self.uiState.selectedMainTab = parameters.selectedMainTab;

                // NEEDSWORK: respond to other state changes
                if (!self.same(parameters.scripture, self.uiState.scripture, ['bookId', 'chapter', 'isJst', 'verses'])) {
                    console.log("Scripture changed...");
                }
            },

            tabSelected: function (event) {
                // When the user selects a tab that is already displayed, navigate
                // to the home panel of that tab (if not already at the home panel).
                var self = this;
                var tabName = event.target.textContent.trim();
                var drawer;

                if (this.previousSelected === tabName) {
                    drawer = document.querySelector('sci-drawer-pages');
                    drawer.navigateHome(tabName);
                }

                this.previousSelected = tabName;
            }
        });
    </script>
</dom-module>