<dom-module id="sci-drawer-pages">
    <link rel="import" href="../bower_components/polymer/polymer.html">
    <link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
    <link rel="import" href="../bower_components/neon-animation/neon-animatable.html">

    <!-- Override with custom version -->
    <link rel="import" href="neon-animated-pages.html">    

    <link rel="import" href="../bower_components/neon-animation/animations/slide-from-left-animation.html">
    <link rel="import" href="../bower_components/neon-animation/animations/slide-right-animation.html">    
    <link rel="import" href="../bower_components/neon-animation/animations/slide-from-right-animation.html">
    <link rel="import" href="../bower_components/neon-animation/animations/slide-left-animation.html">    

    <link rel="import" href="sci-volumes.html">    
    <link rel="import" href="sci-index.html">
    <link rel="import" href="sci-contents.html">

    <style is="custom-style" include="iron-flex iron-flex-alignment">
    </style>

    <template>
        <iron-ajax auto
                   url="../model/volumes.json"
                   handle-as="json"
                   last-response="{{volumes}}"
                   debounce-duration="300">
        </iron-ajax>

        <neon-animated-pages selected="[[uiState.selectedDrawerTab]]">
            <neon-animatable class="layout vertical" id="scriptures-page">
                <sci-volumes volumes="{{volumes}}" ui-state="{{uiState}}"></sci-volumes>
            </neon-animatable>
            <neon-animatable class="layout vertical" id="index-page">
                <sci-index volumes="{{volumes}}"></sci-index>
            </neon-animatable>
            <neon-animatable class="layout vertical" id="contents-page">
                <sci-contents></sci-contents>
            </neon-animatable>
            <neon-animatable class="layout vertical" id="speakers-page">
                <!-- NEEDSWORK: implement sci-speakers -->
                <br />
                &nbsp; &nbsp; &nbsp; Speakers panel goes here.
            </neon-animatable>
        </neon-animated-pages>
    </template>

    <script>
        Polymer({
            is: 'sci-drawer-pages',

            properties: {
                uiState: {
                    type: Object,
                    notify: true
                },

                volumes: {
                    type: Object
                }
            },

            navigateHome: function (tabName) {
                if (tabName === 'SCRIPTURES') {
                    document.querySelector('sci-volumes').navigateHome();
                } else if (tabName === 'INDEX') {
                    document.querySelector('sci-index').navigateHome();
                } else if (tabName === 'CONTENTS') {
                    document.querySelector('sci-contents').navigateHome();
                } else if (tabName === 'SPEAKERS') {
                    document.querySelector('sci-speakers').navigateHome();
                }
            }
        });
    </script>

</dom-module>
