<dom-module id="sci-index-chapters">
    <link rel="import" href="../bower_components/polymer/polymer.html">
    <link rel="import" href="../bower_components/paper-button/paper-button.html">

    <link rel="import" type="css" href="../css/sci-chapters.css">

    <style is="custom-style" include="iron-flex iron-flex-alignment">
    </style>

    <!-- NEEDSWORK: get the citation counts for each chapter from the server -->
    <template>
        <div class="breadcrumb layout horizontal">
            <paper-button on-tap="goBack" class="crumb">{{volume.fullName}} &gt; {{book.tocName}}</paper-button>
        </div>
        <div class="layout horizontal wrap" style="margin-left: .4em;">
            <template is="dom-repeat" items="{{chapters}}">
                <paper-button raised class="chapter">{{item}}<br />
                <span>[{{cites}}]</span></paper-button>
            </template>
        </div>
        <div class="bottom"></div>
    </template>

    <script>
        Polymer({
            is: 'sci-index-chapters',

            properties: {
                book: {
                    type: Object,
                    observer: 'bookChanged'
                },
                volume: Object,
                chapters: Array
            },

            goBack: function (event) {
                var pages = document.querySelector('#index-pages');

                pages.selectPrevious();
            },

            bookChanged: function (newBook) {
                // NEEDSWORK: this feels a little inelegant, but it's how we can
                // create an array of chapters from which to generate buttons.
                var i;
                var self = this;

                if (self.chapters === undefined || typeof self.chapters !== 'array') {
                    self.chapters = new Array();
                } else {
                    self.splice('chapters', 0, self.chapters.length);
                }

                for (i = 1; i <= newBook.numChapters; i++) {
                    self.push('chapters', i);
                }
            }
        });
    </script>

</dom-module>
