<dom-module id="sci-chapters">
    <link rel="import" href="../bower_components/polymer/polymer.html">
    <link rel="import" href="../bower_components/paper-button/paper-button.html">

    <link rel="import" type="css" href="../css/sci-chapters.css">

    <style is="custom-style" include="iron-flex iron-flex-alignment">
    </style>

    <template>
        <div class="breadcrumb layout horizontal">
            <paper-button on-tap="goBack" class="crumb">{{volume.fullName}} &gt; {{book.tocName}}</paper-button>
        </div>
        <template is="dom-if" if="{{isBible}}">
            <h4 class="translation">King James Version</h4>
        </template>
        <div class="layout horizontal wrap" style="margin-left: .4em;">
            <template is="dom-repeat" items="{{chapters}}">
                <paper-button raised class="chapter" on-tap="goKjv">{{item}}</paper-button>
            </template>
        </div>
        <template is="dom-if" if="{{isBible}}">
            <h4 class="translation">Joseph Smith Translation</h4>
            <div class="layout horizontal wrap" style="margin-left: .4em;">
                <template is="dom-repeat" items="{{chapters}}">
                    <paper-button raised class="chapter" on-tap="goJst">{{item}}</paper-button>
                </template>
            </div>
        </template>
        <div class="bottom"></div>
    </template>

    <script>
        Polymer({
            is: 'sci-chapters',

            properties: {
                book: {
                    type: Object,
                    observer: 'bookChanged'
                },
                isBible: {
                    type: Boolean,
                    value: false
                },
                volume: {
                    type: Object,
                    observer: 'volumeChanged'
                },
                chapters: Array,
                url: {
                    type: String,
                    notify: true,
                    reflectToAttribute: true
                }
            },

            goBack: function (event) {
                var pages = document.querySelector('#scriptures-pages');

                pages.selectPrevious();
            },

            goChapter: function (event, jst) {
                var sciMainContent = document.querySelector('sci-main-content');
                var sciApp = document.querySelector('sci-app');

                sciMainContent.set('uiState.contentUrl',
                        '../model/scripture/' + jst + this.book.id + '.' +
                        event.target.innerText + '.json');
                sciMainContent.set('book', this.book);
                sciApp.set('uiState.selectedMainTab', 1);
            },

            goJst: function (event) {
                this.goChapter(event, 'jst/');
            },

            goKjv: function (event) {
                this.goChapter(event, '');
            },

            bookChanged: function (newBook) {
                // NEEDSWORK: this feels a little inelegant, but it's how we can
                // create an array of chapters from which to generate buttons.
                var i;
                var self = this;

                if (self.chapters === undefined || typeof self.chapters !== 'array') {
                    self.chapters = new Array();
                } else {
                    self.splice('chapters', 0, self.chapters.length);
                }

                for (i = 1; i <= newBook.numChapters; i++) {
                    self.push('chapters', i);
                }

                // NEEDSWORK: figure out how to smoothly reset the scroll position
                // this.scrollTop = 0;
                // Probably need to implement a hierarchy component that manages
                // breadcrumbs and scroll position and browser back button navigation.
            },

            volumeChanged: function (newVolume) {
                var self = this;

                self.isBible = newVolume.id <= 2;
            }

        });
    </script>

</dom-module>