<dom-module id="sci-index">
    <link rel="import" href="../bower_components/polymer/polymer.html">
    <link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
    <link rel="import" href="../bower_components/neon-animation/neon-animatable.html">

    <!-- Override with custom version -->
    <link rel="import" href="neon-animated-pages.html">

    <link rel="import" href="../bower_components/neon-animation/animations/slide-from-left-animation.html">
    <link rel="import" href="../bower_components/neon-animation/animations/slide-right-animation.html">
    <link rel="import" href="../bower_components/neon-animation/animations/slide-from-right-animation.html">
    <link rel="import" href="../bower_components/neon-animation/animations/slide-left-animation.html">

    <link rel="import" href="sci-index-volume.html">
    <link rel="import" href="sci-index-chapters.html">

    <style is="custom-style" include="iron-flex iron-flex-alignment">
        .bottom {
            padding: 1em;
        }
    </style>

    <template>
        <neon-animated-pages id="index-pages" selected="{{selected}}" slide-backwards="false">
            <neon-animatable class="layout vertical">
                <template is="dom-repeat" items="{{volumes}}">
                    <sci-index-volume volume="{{item}}"></sci-index-volume>
                </template>
                <div class="bottom"></div>
            </neon-animatable>
            <neon-animatable class="layout vertical">
                <sci-index-chapters id="index-chapters"></sci-index-chapters>
            </neon-animatable>
            <neon-animatable class="layout vertical">
                <!-- NEEDSWORK: implement citation verses display -->
                Citation verses list for chapter goes here
            </neon-animatable>
            <neon-animatable class="layout vertical">
                <!-- NEEDSWORK: implement citation list display -->
                Citation list for chapter/verses goes here
            </neon-animatable>
        </neon-animated-pages>
    </template>

    <script>
        Polymer({
            is: 'sci-index',

            properties: {
                selected: {
                    type: Number,
                    value: 0
                },

                volumes: Object
            },

            navigateHome: function () {
                if (this.selected !== 0) {
                    this.set('selected', 0);
                }
            }
        });
    </script>
</dom-module>