<dom-module id="sci-cite-book">
    <link rel="import" href="../bower_components/polymer/polymer.html">
    <link rel="import" href="../bower_components/paper-button/paper-button.html">

    <link rel="import" type="css" href="../css/sci-cite-book.css">

    <template>
        <paper-button class="book" raised on-tap="showBook">{{book.gridName}}<br/>
            <span class="cites">[{{book.cites}}]</span></paper-button>
    </template>

    <script>
        Polymer({
            is: 'sci-cite-book',

            properties: {
                book: Object,
                volume: Object
            },

            showBook: function (event) {
                var pages;
                var scripturesChapters;

                if (this.book.numChapters <= 1) {
                    // NEEDSWORK: display list of citations
                } else {
                    pages = document.querySelector('#index-pages');
                    indexChapters = document.querySelector('#index-chapters');

                    indexChapters.book = this.book;
                    indexChapters.volume = this.volume;
                    pages.selected = 1;
                }
            }
        });
    </script>

</dom-module>