<dom-module id="sci-index-volume">
    <link rel="import" href="../bower_components/polymer/polymer.html">
    <link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
    <link rel="import" href="../bower_components/paper-button/paper-button.html">
    <link rel="import" href="../bower_components/iron-collapse/iron-collapse.html">
    <link rel="import" href="../bower_components/iron-icons/iron-icons.html">
    <link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
    <link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

    <link rel="import" href="sci-cite-book.html">
    <link rel="import" type="css" href="../css/sci-volume.css">

    <style is="custom-style" include="iron-flex iron-flex-alignment">
    </style>

    <template>
        <div class="layout horizontal">
            <paper-button class="volume flex" on-tap="toggle"
                          data-args="{{volume.id}}">{{volume.fullName}}</paper-button>
            <paper-icon-button class="volume-icon" id="iicon{{volume.id}}" on-tap="toggle"
                          data-args="{{volume.id}}" icon="icons:expand-less"></paper-icon-button>
        </div>
        <iron-collapse id="icollapse{{volume.id}}" opened="true">
            <div class="layout horizontal wrap">
                <template is="dom-repeat" items="{{volume.books}}">
                    <sci-cite-book book="{{item}}" volume="{{volume}}"></sci-cite-book>
                </template>
            </div>
        </iron-collapse>
    </template>

    <script>
        Polymer({
            is: 'sci-index-volume',

            properties: {
                volume: Object
            },

            toggle: function (event) {
                globalToggleCollapse(event, 'icollapse', 'iicon');
            }
        });
    </script>
</dom-module>
